<!DOCTYPE HTML>
<html>
    <head lang="en">
        <% include templates/head.ejs %>
    </head>
    <body>
        <% include templates/navigation.ejs %>
        <div id="page-wrapper">
            <div class="row">
                <div class="col-lg-12">
                    <h1 class="page-header"><%= title %></h1>
                    <div class="jumbotron">
                        <p class="lead">Apple Configurator</p>
                        <hr>
                        <p>Download the Apple Configurator app from the App Store to configure multiple iPads at once.</p>
                    </div>
                </div>
                <!-- /.col-lg-12 -->
            </div>
            <!-- /.row -->
        </div>
        <!-- /.page-wrapper -->

        <% include templates/scripts.ejs %>
    </body>
</html>